@model BoardGame.Features.Games.EditView.EditGameViewModel
<form asp-controller="Games" asp-action="Edit">
    <div>
        <label>Name: </label>
        <input name="Name" value="@Model.Name"/>
    </div>
    <div>
        <label>Maximal amount of players: </label>
        <input name="MaximalPlayersAmount" value="@Model.MaximalPlayersAmount" />

    </div>
    <div>
        <label>Minimal amount of players: </label>
        <input name="MinimalPlayersAmount" value="@Model.MinimalPlayersAmount" />

    </div>
    <div>
        <label>Minimal recomanded age of players: </label>
        <input name="MinimalPlayersAge" value="@Model.MinimalPlayersAge" />

    </div>
    <input type="hidden" name="Id" value="@Model.Id"/>
    <button type="submit">Edit</button>
</form>